@font-face {
	font-family: "Monument";
	src: url("/fonts/Monument/MonumentExtended-Regular.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: "Monument";
	src: url("/fonts/Monument/MonumentExtended-Ultrabold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: "Monument";
	src: url("/fonts/Monument/MonumentExtended-Italic.otf") format("opentype");
	font-weight: italic;
}

@font-face {
	font-family: "Circular";
	src: url("/fonts/Circular/CircularStd-Book.eot");
	src: url("/fonts/Circular/CircularStd-Book.eot#iefix")
			format("embedded-opentype"),
		url("/fonts/Circular/CircularStd-Book.woff2") format("woff2"),
		url("/fonts/Circular/CircularStd-Book.woff") format("woff"),
		url("/fonts/Circular/CircularStd-Book.ttf") format("truetype"),
		url("/fonts/Circular/CircularStd-Book.svg") format("svg");
	font-weight: 400;
	font-style: "normal";
}

@font-face {
	font-family: "Circular";
	src: url("/fonts/Circular/CircularStd-Bold.eot");
	src: url("/fonts/Circular/CircularStd-Bold.eot#iefix")
			format("embedded-opentype"),
		url("/fonts/Circular/CircularStd-Bold.woff2") format("woff2"),
		url("/fonts/Circular/CircularStd-Bold.woff") format("woff"),
		url("/fonts/Circular/CircularStd-Bold.ttf") format("truetype"),
		url("/fonts/Circular/CircularStd-Bold.svg") format("svg");
	font-weight: 700;
	font-style: "normal";
}

@font-face {
	font-family: "Circular";
	src: url("/fonts/Circular/CircularStd-Medium.eot");
	src: url("/fonts/Circular/CircularStd-Medium.eot#iefix")
			format("embedded-opentype"),
		url("/fonts/Circular/CircularStd-Medium.woff2") format("woff2"),
		url("/fonts/Circular/CircularStd-Medium.woff") format("woff"),
		url("/fonts/Circular/CircularStd-Medium.ttf") format("truetype"),
		url("/fonts/Circular/CircularStd-Medium.svg") format("svg");
	font-weight: 500;
	font-style: "normal";
}

